body{
    align-items: right;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image:url(./img.jpg);
    background-size: cover;
}

.caixaMaior{
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    width: 310px; 
    margin-left: 9.1cm;  
    margin-top: -8;
}

.btn1, .btn2, .btn3, .btn4, .btn5, .btn6{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #e4b3ae;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: block;
}

.h1{
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-left: 10cm;
}